.boxes {
    border: 3px solid red;
    position: relative;
    width: 500px;
    height: 500px;

    
}
.box {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50px;
}
.box-one {
    background-color: red;
    position: fixed;
    

}
.box-two {
    background-color: gold;
    left: 200px;
    top: 250px;
    z-index: -1;
    position: absolute;
}
.box-three {
    background-color: green;
    position: absolute;
    left: 200px
}
